@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
    font-family: Montserrat;
    background-color: #e3e3e3;
}

li {
    padding: 0.3em;
}

h1, h2, h3 {
    font-family: Arvo, sans-serif;
}

.main-header h1, .main-header h2 {
    height: 5px;
    text-align: center;
}

aside div{
    border: 2px black solid;
    background-color: whitesmoke;
    margin: 2em;
    padding: 2em;
}



.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

footer img {
    width: 30px;
}
.link-header nav ul{
    display: flex;
    justify-content: center;
    padding-right: 3.5em;
}

.link-header nav li{
    list-style: none;
    padding-left:1em;
}

a {
    text-decoration: none;
    color: rgb(3, 29, 51);
}


.about-me img {
    width: 300px;
}


aside .skillz img {
    width: 200px;
}

aside .interests img {
    width: 80px;
    float: right;
}

.link-header img {
    width: 50px;
}

.chemical {
    padding-bottom: 1em;
}

.link-header li {
    display: flex;
    justify-content: center;
    align-items: center;
}


aside .education img, aside .cs-classes img, .experience img {
    width: 100px;
    float: right;
    clear: right;
    padding-top: 1em;
    padding-left: 1em;
}

.cs-classes ul li, .experience ul ul, ul {
    list-style: none;
}

.interests li{
    font-weight: bold;
}

footer, .contact, .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials nav a {
    padding: 1em;
}

.experience, .projs {
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    padding: 1rem;
    margin: 2rem;
}

.linkedhub img {
    width: 40px;
}

.linkedhub {
    display: flex;
    justify-content: flex-start;
}

.linkedhub img {
    padding-top: 0.5em;
}

.git {
    padding-right: 2em;
}

.myTitle {
    padding-top: 0.5em;
    font-size: 20px;
    font-weight: 100;
}

.another-pic {
    display:none;
}

.about-me h2 {
    color: darkblue;
}

.intro {
    padding: 1em;
    margin: 2em;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    clear: right;
}

.intro p {
    text-align: justify;
}

.intro img {
    width: 50px;
    float: right;
}

.weatherly img{
    width: 720px;
}

.projs li a {
    font-size: larger;
    color: blueviolet;
}






@media screen and (min-width:800px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .align-this {
        display: flex;
        flex-direction: row-reverse;
    }

    .projs ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .main-header h1 {
        text-align: left;
    }

    .linkedhub {
        padding-right: 1em;
    }

    .git {
        padding-right: 2em;
    }

    .link-header {
        padding-top: 1.5em;
    }

    h1:hover, h1 a:hover{
        transform: scale(1.03,1.03);
        color: rgb(61, 49, 230);
    }

    header a:hover, footer nav img:hover {
        transform: scale(1.3, 1.3);
    }

    aside div:hover {
        transform: scale(1.03,1.08);
    }

    .experience:hover, .intro:hover, .projs ul li:hover {
        transform: scale(1.03, 1.03);
    }

    .projs li h3:hover {
        transform: scale(1.05, 1.05);
    }


    h1, header a, footer nav img, aside div, .experience, .intro, .projs ul li, .projs ul li h3 {
        transition: transform 0.3s;
    }
    
    .intro {
         padding: 2em;
    }
    
    .intro img {
        width: 100px
    }


    

    






}






